<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwapShelf</title>
    <link rel="stylesheet" href="land.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>SwapShelf</h1>
                <p>Make the most of it</p>
            </div>
            <div class="auth-buttons">
                <button class="signup">Sign up</button>
                <button class="login">Login</button>
            </div>
        </header>
        
        <main>
            <div class="button-grid">
                <div class="button">Browse Books</div>
                <div class="button">Get in touch</div>
                <div class="button ">Trade Books</div>
            </div>
        </main>
    </div>
</body>
</html>
