<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwapShelf Register</title>
    <link rel="stylesheet" href="first.css">
</head>
<body>
    <div class="container" style=" z-index: 1;">
        <div class="signup-box">
            <div class="left">
                <img src="left_img.jpg" alt="Left Image">
            </div>
            <div class="form-box">
                <h2>SwapShelf</h2>
                <form id="RegisterForm" action="landing.html">
                    <input type="text" placeholder="Full Name" id="fullname" required>
                    <input type="email" placeholder="Email" id="email" required>
                    <input type="password" placeholder="Password" id="password" required>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>